.electricfee {
    padding: 0 80px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    gap: 0px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
    height: 290px;
}
.electricfee-chart {
    
    // width: 250px;

}
.money {
    padding-top: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sub-title {
        padding-left: 10px;
        font-size: 28px;
        color: rgb(200,200,200);
        margin-bottom: 10px;
    };
    .number {
        font-size: 50px;
        font-weight: 700;
    }
}