.user {
    background-color: white;
    padding: 0 10px 100px;
}

.portrait {
    padding: 40px 40px 60px;
    display: flex;
    // justify-content: space-between;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

.nickName {
    padding-left: 60px;
    padding-top: 35px;
    font-size: 40px;
    color: #333333;
    font-weight: bold;
}

.slider {
    margin: 40px 0 10px;
}

.domitory {
    font-size: 26px;
    padding-left: 40px;
    color: gray
}